* {
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}
body {
  background-color: rgba(255, 228, 232, 0.708);
  /* width: 100%; */
  color: #283618;
  font-family: "Playfair Display", serif;
}
/*Accent: #E07A5F*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  padding: 15px 0px;
  width: 90%;
}
header img {
  width: 30px;
}
.love {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container {
  width: 100%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.imgandwords {
  position: relative;
  min-height: 95vh;
  max-height: 1000px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgandwords img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;

  filter: blur(14px) scale(1.15);
  z-index: 0;
}

.overshield {
  position: absolute;
  inset: 0;
  background: rgba(58, 22, 36, 0.7);
  z-index: 1;
}
.herowords {
  position: relative;
  z-index: 2;
  color: #ffffff;
  padding: 0 24px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.downimg {
  width: 25px;
  height: 15px;
  /* background-color: #ff673d; */
  background-image: url('icons8-arrow-down-20.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 20px;
  animation: slowBounce 3s ease-in-out infinite;
}

@keyframes slowBounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
/* .downimg img {
  width: 10px;
  background-color: #283618;
  height: 100px;
} */

.herowords h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  letter-spacing: 0.5px;
  margin-bottom: 9px;
}

.herowords h4 {
  font-weight: 400;
  font-size: 1.1rem;
  color: #ff673d;
  margin-bottom: 20px;
}

.herowords p {
  font-size: 0.5rem;
  letter-spacing: 2px;
  opacity: 1.5;
}
.animationimg {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  gap: 82px;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  overflow: hidden;
}
.animationimg img {
  width: 320px;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0;
  transition:
    transform 0.9s ease,
    opacity 0.8s ease;
}

.slide-left {
  transform: translateX(-160px);
}
.slide-right {
  transform: translateX(160px);
}

.animationimg img.show {
  opacity: 1;
  transform: translateX(0);
}
.gallerywrite {
  width: 85%;
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.familygallery {
  display: flex;
  /* justify-content: space-between; */
  gap: 7px;
  align-items: center;
  width: 95%;
  /* padding: 5px 5px; */
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 50px;
  border: 2px solid #faf3ec;
  opacity: 0; /* start invisible */
  transform: translateY(80px); /* start lower */
  transition:
    transform 2s ease,
    opacity 1s ease;
}
.familygallery::-webkit-scrollbar {
  display: none;
}
.familygallery.show {
  opacity: 1;
  transform: translateY(0);
}
.familygallery img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.note {
  width: 80%;
  padding: 10px;
  /* margin-top: 30px; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 206, 214, 0.833);
  border-radius: 20px;
}
.actualnote {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  line-height: 26px;
  font-style: italic;
  font-size: 1.1rem;
}
.actualnote h2 {
  color: #ff673d;
}
.footimg {
  margin-top: 30px;
}
.footimg img {
  width: 200px;
}
.footimg {
  height: 60vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footimg img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;

  filter: blur(14px) scale(1.15);
  z-index: 0;
}

.overview {
  position: absolute;
  inset: 0;
  background: rgba(104, 40, 64, 0.555);
  z-index: 1;
}
.footwrite {
  position: relative;
  top: 60px;
  z-index: 2;
  color: #ffffff;
  padding: 0 24px;
  max-width: 900px;
  text-align: center;
}

.footwrite h2 {
  font-weight: 400;
  font-size: 1.5rem;
  color: #ff673d;
  margin-bottom: 32px;
  text-align: center;
}

.footwrite p {
  font-size: 0.7rem;
  letter-spacing: 2px;
  opacity: 1.5;
}

footer {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  letter-spacing: 3.5px;
  /* width: 300px; */
}
footer img {
  width: 30px;
}
@media (max-width: 760px) {
  .animationimg {
    flex-direction: row;
    gap: 15px;
  }

  .familygallery img {
    width: 200px;
    height: 210px;
  }
  .animationimg img {
    height: 260px;
    width: 170px;
  }
  .slide-left {
    transform: translateX(-40px);
  }
  .slide-right {
    transform: translateX(40px);
  }
}
